
  <section class = "container">
    <%= image_tag "fish.jpg", width:"400", height:"500", class:"homepage-picture"%>
    <div>
      <h1>newFishInTech </h1>
    </div>
    <div>
      <h2> Resume Builder with Tips for New Comers into Tech </h2>
    </div>
    <div>
      <h2> Create, Edit and Receive an Email with your Resume on PDF </h2>
    </div>

    <div>
      <%= button_to 'Start Resume', sections_path, :class => "button", :method => "get" %>
    </div>
</section>
