
  <section class = "container">
    <%= image_tag "fish.jpg", width:"400", height:"500", class:"homepage-picture"%>
    <div>
      <h1>newFishInTech </h1>
    </div>
    <div>
      <h2> Build your resume with tips for new comers into Tech </h2>
    </div>
    <div>
      <h2> Create, edit, and receive an email with your resume on PDF </h2>
    </div>

    <div>
      <%= button_to 'Start Resume', sections_path, :class => "button", :method => "get" %>
    </div>
</section>
