
  <div class="welcome">
  <h1>newInTech Resümee Builder </h1>

  <h2> Changing career path into Tech? </h2>
  <p> Then, this is your resume builder </p>
  <p> Build your resume with tips for new comers into Tech </p>

  <p> Create, edit, and receive an email with your resume on PDF </p>
  </div>

<div class ="button-area">
<%= button_to 'Start Resume', new_resume_path, :class => "button", :method => "get" %>
<div>
