
  <div class="welcome">
  <h1>Welcome to Resümee </h1>


  <p> A resume builder for new comers into Tech </p>

  <p> Create, edit, and receive an email with your resume on PDF </p>

  <p> Find tips for building a resume</p>
  </div>

<div class ="button-area">
<%= button_to 'Start Resume', new_resume_path, :class => "button", :method => "get" %>
<div>
