// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {

// display: flex;
// flex-direction: column;
// flex-wrap: wrap;
color: #336699;
// height: 100%;

font-family: 'Walter Turncoat', cursive;
background-color:  white;
text-align: center;
padding-bottom: 5%;


}

.container div {
  margin-left: -5%;

}


.container h1 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 3em;
  padding-bottom: 2%;
  padding-top: 2%;
  font-weight: bold;
  margin: 3px auto


}

.container p {
  margin-left: 20px;
  margin-right: 20pxvn

}

.container h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 1.2em;
  padding-bottom: 4%;
  padding-top: 2%;
  font-weight: bold;
  // margin: 3px auto;
  margin-left: 44%;
  line-height: 120%;
  text-align: center


}
.home {
  text-align: center;


}

.homepage-picture {
  opacity: 0.7;
}

.intro {
  font-family: 'Walter Turncoat', cursive;

  background-color: green

}

.button{
  text-align: center;
  margin-left: 12%;
  margin-right: 42.5%;
  margin-top: 3%;
  vertical-align: middle;
  width: 200px;
  height: 70px


}
