// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {

// display: flex;
// flex-direction: column;
// flex-wrap: wrap;
color: #336699;
height: 100%;

font-family: 'Walter Turncoat', cursive;
// background-color:  blue;
text-align: center;
padding-bottom: 5%;
font-size: 15pt

}

.container div {
  margin: 3px auto
}

// .welcome {
//   color: #336699;
//
//   font-family: 'Walter Turncoat', cursive;
//   background-color:  red;
//   text-align: center;
//   padding-bottom: 5%;
//   font-size: 15pt
// }
// .welcome h1 {
//   font-family: 'Walter Turncoat', cursive;
//   font-size: 1em;
//   padding-bottom: 5%;
//   padding-top: 3%;
//   font-weight: bold;
//
// }
//
// .welcome h2 {
//   font-family: 'Walter Turncoat', cursive;
//   font-size: 2em;
//
//   font-weight: bold;
//
// }


.container h1 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 1em;
  padding-bottom: 5%;
  padding-top: 3%;
  font-weight: bold;
  margin: 3px auto


}

.container p {
  margin-left: 20px;
  margin-right: 20px

}

.container h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 2em;

  font-weight: bold;
  margin: 20px auto


}
.home {
  text-align: center;


}

.intro {
  font-family: 'Walter Turncoat', cursive;

  background-color: green

}

.button{
  text-align: center;
  margin-left: 1%;
  margin-right: 40%;
  margin-top: 5%


}
