
<section class="thankyou">
  <div>
    <p>Hi <%=@resume.resume_contents.first_name %> <%= @resume.resume_contents.last_name %>!</p>
    <p class="emailsent">Check your email to get your resume in PDF format</p>
    <p class="recommendation">We recommend to come back and tailor your resume for different postings as appropriate</p>

    <p>Good luck!</p>
  </div>
  <div >
    <p></p>

    <p></p>
  </div>
</section>
