<p id="notice"><%= notice %></p>

<div class="contact-details">
<p>John Smith<p>
<p class="paragraph">2615 233rd Ave SE Sammamish, WA | john.smith@gmail.com | 865-724-3907 </p>
</div>


<h2>Summary</h2></strong><span class="p"> I'm looking for a change in my career</span></p>


<h2>Experience</h2>

<p class = "experience"><strong>Microsoft</strong></p>
<p class="experience"> - hsfhowhfowfldsjlad </p>
<p class="experience"> - hsfhowhfowfldsjlad </p>
<p class="experience"> - hsfhowhfowfldsjlad </p>
<p class="experience"> - hsfhowhfowfldsjlad </p>

<h2>Education</h2>


<h2>Skills</h2>


<h2>Hobbies</h2>
